 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}



 * {
     margin: 0px;
     padding: 0px;
     font-family: 'Roboto', sans-serif;
 }


  .close {
     display: none;
 }

 body {
     background-color: black;
     color: white;
 }

 .left {
     width: 25vw;
     padding: 10px;
 }


 .right {
     width: 75vw;
 }

 .home {}

 .rounded {
     border-radius: 10px;
 }

 .home ul li {
     display: flex;
     gap: 15px;
     width: 14px;
     list-style: none;
     padding: 14px;
     font-weight: bold;
 }

 .heading {
     display: flex;
     gap: 15px;
     width: 100%;
     padding-top: 14px;
     padding: 23px 14px;
     font-weight: bold;
     align-items: center;
     font-size: 13px;
 }

 .heading img {
     width: 30px;

 }

 .library {
     min-height: 72vh;
     position: relative;
 }

 .footer {
     display: flex;
     font-size: 10px;
     color: grey;
     gap: 13px;
     position: absolute;
     bottom: 0;
     padding: 30px 0px;
 }

 .footer a {
     color: grey;
 }

 .right {
     margin: 16px 0px;
     position: relative;
 }


 .header {
     display: flex;
     justify-content: space-between;
     background-color: rgb(34, 34, 34);
 }

 .header>* {
     padding: 13px;
 }

 .spotifyPlaylists {
     padding: 14px;
 }

.spotifyPlaylists h1{
     padding: 16px;
 }


 .cardContainer {
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
     overflow-y: auto;
     margin: 30px;
     max-height: 55vh;
 }

 .card {
     width: 200px;
     padding: 10px;
     border-radius: 5px;
     background-color: #252525;
     position: relative;
     transition: all 0.9s;
 }

.card:hover{
    background-color: rgb(117, 116, 116);
    cursor: pointer;
    --a:1;
}

 .card img {
     width: 100%;
     object-fit: contain;
 }

 .card>* {
     padding-top: 10px;
 }

 .play {
     width: 28px;
     height: 28px;
     background-color: #1fdf64;
     border-radius: 50%;
     padding: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     bottom: 88px;
     right: 17px;
     opacity: var(--a);
     transition: all 1s ease-out;
 }

 .buttons>* {
     margin: 0 12px;
 }

 .signupbtn {
     background-color: rgb(34, 34, 34);
     color: rgb(176, 170, 170);
     font-weight: bold;
     cursor: pointer;
     font-size: 16px;
 }

 .signupbtn:hover {
     font-size: 1.01rem;
     color: white;
     border: none;
     outline: none;
     font-size: 17px;
 }

 .loginbtn {
     background-color: white;
     border-radius: 10px;
     color: black;
     padding: 10px;
     width: 79px;
     cursor: pointer;
     border-radius: 21px;
     font-size: 16px;
 }

 .loginbtn:hover {
     font-weight: bold;
     width: 80px;
     font-size: 17px;
 }

 .playbar {
     position: fixed;
     bottom: 15px;
     filter: invert(1);
     width: 90%;
     border-radius: 30px;
     background-color: #dad5d5;
     padding: 12px;
     width: 70vw;
     min-height: 40px;

 }

 .songbuttons {
     display: flex;
     justify-content: center;
     gap: 16px;
 }

 .songList {
     height: 400px;
     overflow: auto;
     margin-bottom: 44px;
 }

 .hamburger {
     display: none;
      cursor: pointer;
 }

 .hamburgerCont {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 14px;
    
 }

 .songList ul {
     padding: 0 10px;
 }

 .songList ul li {
     list-style-type: decimal;
     display: flex;
     justify-content: space-between;
     gap: 10px;
     cursor: pointer;
     padding: 12px 0px;
     border: 1px solid white;
     margin: 12px 0;
     padding: 10px;
     border-radius: 5px;
 }

 .songList .info {
     font-size: 13px;
     width: 344px;
 }

 .playnow {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .playnow span {
     font-size: 15px;
     width: 64px;
     padding: 12px;
 }

 .seekbar {
     height: 4px;
     width: 98%;
     border-radius: 10px;
     background: black;
     position: absolute;
     bottom: 0;
     margin: 6px;
     cursor: pointer;
 }

 .circle {
     width: 13px;
     height: 13px;
     border-radius: 13px;
     background-color: black;
     position: relative;
     bottom: 6px;
     left: 0%;
     transition: left 0.5s;
 }

 .songbuttons img {
     cursor: pointer;
 }

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 .songinfo {
     color: black;
     padding: 0 12px;
     width: 250px;
 }

 .songtime{
    color: black;
     padding: 0 12px;
     width: 125px;
 }


 
 .volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
 }

 .range input{
    cursor: pointer;
 }

 

 

 .abovebar {
     display: flex;
     justify-content: space-between;
     margin: 28px 0;
 }

 @media (max-width:1200px) {
     .left {
         position: absolute;
         left: -145%;
         transition: all .3s;
         z-index: 1;
         width: 370px;
         background-color: black;
         padding: 0;
     }

     .songinfo, .songtime{
        width: auto;
     }

     .left .close {
         position: absolute;
         right: 31px;
         top: 25px;
         width: 29px;
     }
     
     .timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;



    }

     .right {
         width: 100vw;
     }

     .playbar {
        padding: 0px;
         width: 97vw;
         right: 13px;
     }

     .seekbar {
         width: calc(100vw-70px);
     }

     .hamburger {
         display: block;
     }

     .card {
         width: 50vh;
     }

     .cardContainer {
         margin: 0;
         justify-content: center;
     }

     .right {
         margin: 0;
     }

     .close {
         display: block;
     }

     .abovebar {
         flex-direction: column;
         gap: 12px;
         align-items: center;
     }
     
     .cardContainer{
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 30vh;
    }
 }

 @media (max-width: 500px){
    .card{
        width:auto;
    }

    .header>*{
        padding: 2px;
    }

    .signupbtn {
    font-size: 13px;
    }

    .loginbtn {
    width: 67px;
    }

    .buttons>* {
    margin: 7px 2px;
    }

    .spotifyPlaylists h1 {
    padding: 0px;
    }

    .playbar{
            right: 6px;
            bottom: 2px;
    }
 }

